<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/rp_gui.css') }}"/>
        <script src="{{ url_for ('static', filename='js/rp_gui.js') }}" charset="utf-8"></script>
        <script src="{{ url_for ('static', filename='js/rp_ws.js') }}" charset="utf-8"></script>

        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="https://d3js.org/d3.v4.js"></script>
		<script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
    </head>
    <script>
    </script>
<body style="background-color: #82e4f5;">
<script>
	window.onload=function() {
		var txtTarget = 'Red Pitaya Card';
		var fIsRedPitaya = {{ is_red_pitaya }};
		var color="#FF0000";
		console.log ('On Load');
		//if ({{ is_red_pitaya }})
		if (fIsRedPitaya )
			txtTarget = 'Red Pitaya Card';
		else {
			txtTarget = 'Docker Container';
			color="#00FF00";
		}
		var p = document.getElementById('pTarget');
		p.innerText = txtTarget;
		p.style.backgroundColor = color;
		console.log ({{is_red_pitaya}});
		var divChart = document.getElementById ("chartSignal");
		if (divChart != null)
			divChart.style.height = 400;
	}
</script>
        
    </body>
	<h3><p id="pTarget"></p></h3>
<!-- Running on {_ target _} -->
    <table style="background-color: #8ec7eb;width:100%">
        <tr>
            <td style="width:30%">
                <table>
                    <th style="background-color: #45b0f2;" colspan="2">
                        Setup
                    </th>
                    <tr>
                        <td style="border:none;"><input type="button" value="Read Setup" onclick="onReadRedPitayaSetupClick()"></td>
                        <td style="border:none;"><input type="button" value="Update Setup" onclick="onUpdateRedPitayaSetupClick()"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="button" value="Measure Pulse Length" onclick="measureDataLength()">
                        </td>
                    </tr>
                    <th style="background-color: #5c7ee4;" colspan="2">
                        Trigger
                    </th>
                    <tr>
						<td colspan="2" style="text-align: center;">
                           <input type="checkbox" id="cboxTriggerEnabled" value="Enabled" onclick="onTriggerEnabledClick()">Trigger Enabled
						</td>
                    </tr>
                    <tr>
						<td colspan="2" style="text-align: center;">
                           <input type="button" id="btnTriggerNow" value="Trigger Now!" onclick="onTriggerNowClick()" disabled="disabled">
						</td>
                    </tr>
                    <tr>
                        <td>
                            Direction
                        </td>
                        <td>
                            <select id="comboTriggerDir" disabled="disabled">
                                <option value=""></option>"
                                <option value="Up">Up</option>"
                                <option value="Down">Down</option>"
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Type
                        </td>
                        <td>
                            <select id="comboTriggerType" disabled="disabled">
                                <option value="Level">Level</option>"
                                <option value="Edge">Edge</option>"
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Input #
                        </td>
                        <td>
                            <select id="comboTriggerIn" disabled="disabled">
                                <option value=""></option>"
                                <option value="In1">Input #1</option>"
                                <option value="In2">Input #2</option>"
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
							Level
						</td>
						<td>
							<input type="text" id="txtTriggerLevel" value="0.5" style="width:75px;text-align: center;" disabled="disabled">
							<select id="comboTriggerVoltage" disabled="disabled">
								<option id="optTrgMilli" value="1e-3">Millivolts</option>
								<option id="optTrgVolt" value="1">Volts</option>
							</select>
						</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" value="Read Card Trigger" onclick="onReadCardTriggerClick ()">
                        </td>
                        <td>
                            <input type="button" id="btnUpdateTrigger" value="Update Card Trigger" onclick="onUpdateCardTriggerClick ()" disabled="disabled">
                        </td>
                    </tr>
                </table>
                <table>
                    <th style="background-color: #5c7ee4;" colspan="2">
                        Sampling
                    </th>
                    <tr>
                    <td colspan="2">
                        Update Interval
                        <input type="text" id="txtInterval" value="1000" style="width:75px;text-align: center;"> milliseconds<br>
                </td>
                    </tr>
                    <tr>
                        <td>Rate</td>
                        <td><select id="comboRate">
                            	<option value=""></option>
                            	<option value="125000000">125Msps</option>
                            	<option value="15625000">15.625Msps</option>
                            	<option value="1953000">1.953Msps</option>
                            	<option value="122070">122.070ksps</option>
                            	<option value="15258">15.258ksps</option>
                            	<option value="1907">1.907ksps</option>
                        	</select>
						</td>
                    </tr>
                    <tr>
                        <td>Decimation</td>
                        <td><select id="comboDecimation">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="8">8</option>
                            <option value="64">64</option>
                            <option value="1024">1024</option>
                            <option value="8192">8192</option>
                            <option value="65536">65536</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="cboxStartSignal" value="Signal" checked="true">Signal
                            <input type="checkbox" id="cboxStartMCA" value="MCA" checked="true">MCA
                            <input type="checkbox" id="cboxStartPSD" value="PSD" checked="true">PSD
                        </td>
                        <td>
                            <input type="button" value="Update" onclick="onSamplingUpdate()">
                            <input type="button" id="cellStatus" value="status"  onclick="onReadStatusClick()">
                            <input type="text" id="txtBufferLength" value="" style="width:50px;text-align: center;" readonly="readonly"> 
                        </td>
                    </tr>
                    <tr>
					    <td>
						    Update Rate
                        </td>
                        <td>
						    <input type="text" id="txtUpdateRate" style="width:75px;text-align: center;" value="0.5"> Seconds
					    </td>
                    </tr>
                    <tr>
                        <td>
                            Smoothing Window:
                        </td>
                        <td>
                            <select id="comboSmoothingWindow">
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="7">7</option>
                            <option value="9" selected>9</option>
                            <option value="11">11</option>
                            <option value="13">13</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Scan Rate:
                        <td>
                            <input type="text" id="txtScanRate" style="width:50px;text-align: center;" value="0.5"> Seconds
                        </td>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Background
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" value="Read" onclick="onReadBackgroundClick()">
                        </td>
                        <td>
                            <input type="button" value="Measure" onclick="onMeasureBackgroundClick()">
                        </td>
                    </tr>
                    <tr>
					    <td colspan="2">
						    <input type="button" value="Set" onclick="onSetBackgroundClick()">
<!--
                        </td>
                        <td>
-->
                            <input type="text" id="txtBackground" style="width:75px;text-align: center;" value="0.1">
					    </td>
                    </tr>
        </table>
            </td>
            <td style="vertical-align:top;">
                <table>
                    <tr>
                        <th style="background-color: #2fa6f0;" colspan="3">
                            Charts
                        </th>
                    </tr>
                    <tr style="background-color:#92c7e9">
                        <td style="width:20%;text-align:left;">
                            <input type="checkbox" value="Trigger" id="cboxTrigger"><label for="cboxTrigger">Trigger</label>
                        </td>
                        <td>
                            <b>Signal</b>
                        </td>
                        <td style="width:20%;text-align:right;">
                            <input type="checkbox" value="Background" id="cboxBackground"><label for="cboxBackgriound">Background</label>
                        </td>
                    </tr>
                    <tr>
                        <td id="cellSignal" colspan="3">
                            <!--<div id="chartSignal" style="width:600px;height:250px;"></div>
                            <div id="chartSignal" style="width:600px;height:250px;resize:both;overflow:auto"></div>
                            <div id="chartSignal" style="resize:both;overflow:auto;min-height:200px;"></div>-->
                            <div id="chartSignal" style="resize:both;overflow:auto;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:35%;">
                            <input type="button" value="Read from Card" onclick="onReadSignalClick()">
                        </td>
                        <td>
                            <input type="checkbox" id="cboxReadSignal" value="Signal" checked="true">Signal
                            <input type="checkbox" id="cboxReadMCA" value="MCA" checked="true">MCA
                            <input type="checkbox" id="cboxReadPSD" value="PSD" checked="true">PSD
                        </td>
                    </tr>
                    <tr>
						<td>
                        	<input type="button" value="Start" id="btnSignalStartStop" onclick="onSignalStartStopClick(this.id)">
                            <input type="button" value="Quit" id="btnQuitSampling" onclick="onQuitSampling()">
                        </td>
                        <td colspan="2">
                            Buffer
                            <input type="text" id="txtBuffer" value="25" style="width:75px;text-align: center;"> 
                            <select id="comboSignalBufferUnits">
                                <option value="1e-9">Nano</option>
                                <option value="1e-6" selected>&mu;</option>
                                <option value="1e-3">Milli</option>
                            </select> Seconds
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div id="chartMca" style="resize:both;overflow:auto;"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <textarea id="txtReply"  rows="4" cols="50"></textarea>
    </html>
