<html>
    <head>
        <title>Red Pitaya Setup</title>
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/rp_gui.css') }}"/>
    </head>
    <body style="background-color: #58f8e3;">
        
    </body>
	<h1 style="text-align: center;"><a href="https://redpitaya.com/"  target="_blank">Red Pitaya</a> Setup</h1>
    <table>
        <tr>
            <td>Rate</td>
            <td><i>card rate here</i></td>
        </tr>
        <tr>
            <td>Decimation</td>
            <td><i>Card decimation here</i></td>
        </tr>
    </table>
    <table>
        <tr>
            <th colspan="2">Trigger</th>
        </tr>
        <tr>
            <td>Level</td><td><i>Trigger Level Here </i></td>
        </tr>
        <tr>
            <td>Input</td><td><i>Trigger Input Here </i></td>
        </tr>
        <tr>
            <td>Level/Edge</td><td><i>Trigger Level/Edge Here </i></td>
        </tr>
    </table>
    <a href="/">Home</a>
</html>
