table {
    border: 1px solid black;
    width: 100%;
	border-collapse: collapse;
  }

  td {
    border: 1px solid black;
    text-align: center;
  }

  th {
    border: 1px solid black;
    text-align: center;
    background-color: cyan;
  }
