<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <script src="{{ url_for ('static', filename='js/rp_gui.js') }}" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- Charting -->

<!-- Page styles -->
		<link rel="stylesheet" href="{{ url_for ('static', filename='css/rp_gui.css') }}">
        <title>Red Pitaya PSD and MCA Interface</title>
	</head>
    <body>
	<div>
	<h3 style="text-align:center">Red Pitaya PSD &amp; MCA Interface</h3>
	<table  style="border:2px solid">
		<tr>
			<td style="border: 1px solid blue">
				Server Details
				<table>
					<tr>
						<td>Server Name</td><td><input type="text" id="server_name" size="10" value="rsa"></td>
						<td><input id="btnConnect" type="button" value="Connect" size="10" onclick="onConnectClick()"></td>
						<td>Status</td><td><input type="text" id="connect_status" size="10" readonly></td>
					</tr>
					<tr>
						<td>Server Port</td><td><input type="text" id="server_port" value="5500" size="10" ></td>
					</tr>
				</table>
			</td>
			<td style="border: 1px solid rgb(0, 140, 255)">
				<table style="width: 100%;">
					<tr style="vertical-align: top;">
						<td  style="text-align: center;">Sampling
							<table style="width: 100%;">
								<tr>
									<td>Rate</td>
									<td>
										<select id="comboRate">
											<option id="rate125"     value="125000000">125 Mhz</option>
											<option id="rate15_625"  value= "15625000">15.625 Mhz</option>
											<option id="rate1_953"   value= "1953000">1.953 Mhz</option>
											<option id="rate122_070" value= "122070">122.070 Kilo hz</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>Decimation</td>
									<td>
										<select id="comboDecimation">
											<option id="dcm1"    value= "1">1 (for 125 Mhz)</option>
											<option id="dcm8"    value= "8">8 (for 15.625 Mhz)</option>
											<option id="dcm64"   value= "64">64 (for 1.953 Mhz)</option>
											<option id="dcm1024" value= "1024">1024 (for 122.070 Kilo hz)</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>Queue size</td>
									<td><input type="text" size="10" value="4000" id="txtQueueSize"></input></td>
								</tr>
								<tr>
									<td>Points in Signal</td>
									<td><input type="text" size="10" value="200" id="txtSignalPoints"></input></td>
								</tr>
							</table>
						</td>
						<td style="text-align: center;">Trigger
							<table style="width: 100%;background-color: cadetblue;">
								<tr>
									<td>level</td>
									<td><input type="text" value="5" id="txtTriggerLevel">&nbsp;millivolts</td>
								</tr>
								<tr>
									<td>Direction</td>
									<td><select id="comboTriggerDir">
										<option id="dirUp"   value="up">Up</option>
										<option id="dirDown" value="down">Down</option>
									</td>
								</tr>
								<tr>
									<td>Source</td>
									<td><select id="comboTriggerSrc">
										<option id="srcIn1" value="in1">In 1</option>
										<option id="srcIn2" value="in2">In 2</option>
										<option id="srcExt" value="ext">External</option>
									</td>
								</tr>
							</table>
						</td>
						<td style="text-align: center;">
							<input id="btnReadSampling" type="button" value="Read from Red Pitaya" onclick="onReadSamplingClick() ">
							<br><br>
							<input id="btnUpdateSampling" type="button" value="Update Red Pitaya" onclick="onUpdateSamplingClick() ">
							<br>
							<input id="txtMessage" type="text" value="..." size="5" readonly>
							<!-- <p id="pTemp">Message</p> -->
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
    <hr>
	<table>
		<tr>
			<td><input type="button" value="Start" onclick="onStartClick()"></td>
			<td><input type="button" value="Stop" onclick="onStopClick()"></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center;"><input type="button" value="Status" onclick="onStatusClick()"></td>
		</tr>
		<tr>
			<td colspan="2"><span id="spanStartStop">unkown</td>
		</tr>
	</table>
    <hr>
	<table>
		<tr>
			<td colspan="5" style="text-align: center;">Setup</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center;">MCA</td>
			<td colspan="2" style="text-align: center;">PSD</td>
			<td rowspan="4">Chart<br><canvas id="psd_review"></canvas></td>
		</tr>
		<tr>
			<td>Channels</td>
			<td><input id="txtMcaChannels" type="input" value="1024"></td>
			<td>Constant</td>
			<td><input id="txtPsdConst" type="input" size="5" value="1"></td>
		</tr>
		<tr>
			<td>Min. Voltage</td>
			<td><input id="txtMcaMinV" type="input" size="2" style="text-align: center;" value="1"></td>
			<td>Exponent</td>
			<td><input id="txtPsdExp" type="input"  size="5" value="1"></td>
		</tr>
		<tr>
			<td>Max. Voltage</td>
			<td><input id="txtMcaMaxV" type="input" size="2"  style="text-align: center;"></td>
			<td>Max. Pulse Time</td>
			<td><input id="txtPsePulseTime" type="input" size="10"></td>
		<tr style="text-align: center;">
			<td colspan="3" style="text-align: center;border-top: 3px solid rgb(34, 189, 209);"><input type="button" value="Read Application Setup" onclick="onReadAppSetupClick ()"></td>
			<td colspan="2" style="text-align: center;border-top: 3px solid rgb(34, 189, 209);"><input type="button" value="Send Application Setup" onclick="onWriteAppSetupClick()"></td>
			<td><input type="button" value="Preview"></td>
		</tr>
		<tr style="text-align: center;">
			<td style="text-align: center;border-top: 3px solid rgb(34, 189, 209);"><input type="button" value="MCA Start" onclick="onMcaStart ()"></td>
			<td style="text-align: center;border-top: 3px solid rgb(34, 189, 209);"><input type="button" value="MCA Stop" onclick="onMcaStop ()"></td>
			<td style="text-align: center;"><input type="button" value="MCA Status" onclick="onMcaStatus ()"></td>
			<td colspan="2" style="text-align: center;border-top: 3px solid rgb(34, 189, 209);"><input type="button" value="PSD Start/Stop""></td>
			<td><input type="button" value="Preview"></td>
		</tr>
		<tr style="text-align: center;">
			<td colspan="3" style="text-align: center;border-top: 3px solid rgb(34, 189, 209);"><span id="MCA_Status"></span></td>
			<td colspan="2" style="text-align: center;border-top: 3px solid rgb(34, 189, 209);"><span id="PSD_Status"></span></td>
			<td><input type="button" value="Preview"></td>
		</tr>
		<tr style="text-align: center;">
			<td style="text-align: center;border-top: 3px solid rgb(34, 189, 209);"><input type="button" value="Reset MCA""></td>
			<td style="text-align: center;border-top: 3px solid rgb(34, 189, 209);"><input type="button" value="Read MCA" onclick=onReadMcaClick()></td>
			<td colspan="2" style="text-align: center;border-top: 3px solid rgb(34, 189, 209);"><input type="button" value="Reset PSD""></td>
			<td><input type="button" value="Preview" onclick="onSaveMca()"><br>
				<input type="button" value="Bar Chart" onclick="testBarChart()">
			</td>
		</tr>
		</table>
		<hr>
	<table>
		<tr>
			<td style="text-align: center;">Pulse</td>
		</tr>
		<tr>
			<td><input id="btnGetPulse" type="button" onclick="onGetPulses()" value="Read Pulses"></td>
			<td><input type="text" size="10" id="txtNumPulses" value="2"></td>
			<!-- <td><div id="cellPulseResult">Idle</div></td> -->
		</tr>
		<tr>
			<td>Alphanumeric</td>
			<td><div id="cellPulseResult">Idle</div></td>
		</tr>
	</table>
	<div>
		<canvas id="idPulseCanvas"></canvas>
	</div>
	<div>
		<canvas id="idMcaCanvas"></canvas>
	</div>
<hr>
</body>
</html>
